<div id="<%= dom_id movement %>">
  <p>
    <strong>Customer:</strong>
    <%= movement.customer_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= movement.branch_id %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= movement.points %>
  </p>

</div>
