
<table id="datatable-buttons" class="table table-striped dt-responsive nowrap ">
  <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs text-gray-700">Direccion</th>                               
      <th class="p-3 uppercase text-left text-xs text-gray-700">Código Postal</th>                                
      <th class="p-3 uppercase text-left text-xs text-gray-700">Ciudad</th>  
      <th class="p-3 uppercase text-left text-xs text-gray-700"></th>                            
      <th class="p-3 uppercase text-left text-xs text-gray-700">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% if person_addresses.exists? %>
      <% person_addresses.each do |person_address| %>
        <tr class="group border-t border-gray-400 hover:bg-gray-100">
          <td class="p-3"><%= person_address.address %></td>
          <td class="p-3"><%= person_address.postal_code %></td>
          <td class="p-3"><%= person_address.city.full_name %></td>
          <td class="p-3"><%= get_badges_person_address(person_address) %></td>
          <td>
            <%= link_to 'Ver', person_address_path(id: person_address, customer: !customer.blank? ? customer.id : ''), class: "btn btn-outline-danger my-1" if can? :read, person_address %>
            <%= link_to 'Editar', edit_person_address_path(id: person_address, customer: !customer.blank? ? customer.id : ''), class: "btn btn-outline-danger" if can? :edit, person_address %>
          </td>
        </tr>
      <% end %>
    <%else%>
       <td class="p-3" colspan="7">No se encontraron direcciones registrados</td>
    <%end %>
  </tbody>
</table>