<div class="card mb-3">
        <div class="card-body">
          <h4 class="header-title">TOP 10 MEJORES CLIENTES</h4>
          <ul class="nav nav-tabs nav-bordered mb-3">
            <li class="nav-item">
              <a href="#monthly_view" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                  Vista Mensual
              </a>
            </li>
            <li class="nav-item">
              <a href="#historical_view" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                  Vista Historica
              </a>
            </li>
          </ul> <!-- end nav-->
          <div class="tab-content">
              <div class="tab-pane show active" id="monthly_view">
                <table class="table table-centered table-nowrap table-hover mb-0">
                  <tbody>
                    <% get_monthly_top_ten_customers(@customers, @company).each do |customer| %>
                      <tr>
                        <td>                            
                          <h5 class="font-14 my-1 fw-normal"><%= customer.full_name %></h5>
                        </td>
                        <td>
                          <h5 class="font-14 my-1 fw-normal"><%= customer.company.name %></h5>
                        </td>
                        <td>
                          <%= number_to_currency(customer.get_monthly_pesos_balance_amount(@company)) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>     
              </div> <!-- end preview-->
          
              <div class="tab-pane" id="historical_view">
                <table class="table table-centered table-nowrap table-hover mb-0">
                  <tbody>
                    <% get_history_top_ten_customers(@customers, @company).each do |customer| %>
                      <tr>
                        <td>                            
                          <h5 class="font-14 my-1 fw-normal"><%= customer.full_name %></h5>
                        </td>
                        <td>
                          <h5 class="font-14 my-1 fw-normal"><%= customer.company.name %></h5>
                        </td>
                        <td>
                          <%= number_to_currency(customer.get_history_pesos_balance_amount(@company)) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>  
              </div> <!-- end preview code-->
          </div> <!-- end tab-content-->
        </div> <!-- end card body-->
      </div>