<%= form_with(url: create_employee_path, html: {class: 'needs-validation', novalidate: '' }, method: :post) do |form| %>
  <%#= render "shared/error_messages", resource: form.object %>

  <div class="row g-2">
    <div class="mb-3 col-md-6">
      <%= form.label :first_name, 'Nombre/s', class: "form-label" %>
      <%= form.text_field :first_name, class: "form-control", placeholder:"Ingrese Nombre/s", required: true%>
    </div>
    <div class="mb-3 col-md-6">
      <%= form.label :last_name, 'Apellido/s', class: "form-label" %>
      <%= form.text_field :last_name, class: "form-control", placeholder:"Ingrese Apellido/s", required: true%>
    </div>
  </div>
  <div class="row g-2">
    <div class="mb-3 col-md-6">
      <%= form.label :email, 'Email', class: "form-label" %>
      <%= form.text_field :email, class: "form-control", placeholder:"Ingrese email", pattern:"^[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}$", required: true %>
    </div>
    <div class="mb-3 col-md-6">
      <%= form.label :password, 'Contraseña', class: "form-label" %>
      <% if @minimum_password_length %>
        <em>(mínimo <%= @minimum_password_length %> caractéres)</em>
      <% end %><br />
      <div class="input-group input-group-merge">
        <%= form.password_field :password, autocomplete: "new-password", class: "form-control", id: "password", placeholder: "Contraseña" %>
        <button type="button" class="btn btn-outline-secondary" id="toggle-password">
          <i class="mdi mdi-eye-off"></i>
        </button>
      </div>
    </div>
  </div>


  
  <% if @current_branch %>
    <%= form.hidden_field :branch_id, value: @current_branch.id %>
  <% else %>
    <div class="form-floating mb-4 col-md-12">
      <%= form.collection_select :branch_id, @current_company.branches, :id, :name, { prompt: "Seleccione una Sucursal" }, { class: "form-select" } %>
      <%= form.label :branch_id, 'Sucursal', for: "floatingInput" %>
    </div>
  <% end %>

  <div class="form-check form-switch mb-3">
    <%= form.check_box :active, class: "form-check-input", checked: true %>
    <%= form.label :active, 'Activo?', class: "form-check-label", for: "floatingInput" %>
  </div>


  <div class="form-check form-switch mb-3">
    <%= form.check_box :manager_role, class: "form-check-input role-checkbox" %>
    <%= form.label :manager_role, 'Rol Gerente Sucursal', class: "form-check-label" %>
  </div>

  <div class="form-check form-switch mb-3">
    <%= form.check_box :intermediate_role, class: "form-check-input role-checkbox" %>
    <%= form.label :intermediate_role, 'Rol Supervisor', class: "form-check-label" %>
  </div>

  <div class="form-check form-switch mb-3">
    <%= form.check_box :basic_role, class: "form-check-input role-checkbox" %>
    <%= form.label :basic_role, 'Rol Básico', class: "form-check-label" %>
  </div>


  <div class="justify-between items-center">
    <%= form.button "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>

<script>

document.addEventListener('DOMContentLoaded', function() {
  const checkboxes = document.querySelectorAll('.role-checkbox');

  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        checkboxes.forEach(cb => {
          if (cb !== this) {
            cb.checked = false;
          }
        });
      }
    });
  });
});


  const togglePassword = document.getElementById('toggle-password');
  const passwordField = document.getElementById('password');

  togglePassword.addEventListener('click', function () {
    // Cambiar el tipo de input entre 'password' y 'text'
    const type = passwordField.type === 'password' ? 'text' : 'password';
    passwordField.type = type;

    // Cambiar el icono del botón
    this.innerHTML = type === 'password' 
      ? '<i class="mdi mdi-eye"></i>' 
      : '<i class="mdi mdi-eye-off"></i>';
  });


</script>
