   
<div class=" rounded shadow p-2">
  <table id="branchusers-table" class="table table-striped dt-responsive nowrap ">
    <thead>
      <tr>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Rol</th>
        <th class="p-3 uppercase text-left text-xs text-gray-700"></th>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Nombre</th>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Apellido</th>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Email</th>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Comercio / Sucursal</th>
        <th class="p-3 uppercase text-left text-xs text-gray-700">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% companies.each do |company| %>
        <!-------------------------Me fijo si hay condicion de Sucursal------------------------------>
        <% get_cond_branches(company, condition_branch).each do |branch| %>
          <!-------------------------Me fijo si los usuarios tienen alguna condicion------------------------------>
          <% get_cond_branch_user(branch, condition_active, condition_role).each do |branch_user| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
              <td class="p-3"><%= get_role_branch_user(branch_user) %></td>
              <td class="p-3"><%= get_active_branch_user(branch_user) %></td>
              <td class="p-3"><%= branch_user.user.first_name %></td>
              <td class="p-3"><%= branch_user.user.last_name %></td>
              <td class="p-3"><%= branch_user.user.email %></td>
              <td class="p-3"><%= company.name + " / " + branch.name%></td>
              <td class="p-3">
                <%= link_to 'Ver', branch_user_path(id: branch_user, return_page: 'branch_user'), class: "btn btn-outline-danger" if can? :read, branch_user%>
                <%= link_to 'Editar', edit_branch_user_path(id: branch_user, return_page: 'branch_user'), class: "btn btn-outline-danger" if can? :edit, branch_user%>
              </td>
            </tr>
          <%end%>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>

<%#= render partial: 'layouts/index_js' %>