<%= turbo_frame_tag 'customer_search_result', class: 'col-12' do %>

   <!--USED on QR -->

  <% if customer %>
    <!--div class="card border mb-3" style="height: 14rem;"-->
    <div class="card border ">
      <div class="card-body">  
        <i class="uil"></i>
        <div class="row">
          <!--div class="col"-->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="text-uppercase mt-0">Puntos Disponibles</h6>
            <h2 class="my-2" id="active-views-count"><%= customer.points_balance_amount(customer.company) %></h2>
          </div>
          <!--div class="col"-->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="text-uppercase mt-0">Cantidad de Canjes</h6>
            <h2 class="my-2" id="active-views-count"><%= customer.get_count_exchange(customer.company) %></h2>
          </div>
          <br/>
          <div class="col-12">
            <% unless customer.company.groups&.first.account_type_group? %>
              <p class="mb-0 text-muted">
                <span class="fw-bold me-2"><%= "CLIENTE DE #{customer.company.name.upcase}" %>
              </p>
              <p class="mb-0 text-muted">
                <span class="fw-bold me-2">Estado:</span>
                <%= get_badges_customer(customer) %>
              </p>
              <br/>
            <% end %>
            <br/>
            <p class="mb-0 text-muted">
              <div class="d-flex justify-content-between">
                <% unless customer.status_inactive? %>
                  <%= link_to 'IR A CTA. CTE.', current_account_exteneral_path(customer), class: "btn btn-primary  ", target: '_blank'  %>
                <% end %>
                <% catalog = Catalog.where(group: customer.company.groups.first, company: customer.company).last %>
                <% if catalog %>
                  <%= link_to 'CATÁLOGO', showcase_catalogs_path(id: catalog.id),class:"btn btn-primary ", target: "_blank"%>
                <% end %>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
      <div class="card border mb-3" style="height: 4rem;">
        <div class="card-body"> 
          <h4 class="header-title mb-3">NO ES CLIENTE AÚN DE ESTE COMERCIO</h4> 
        </div>
      </div>
  <% end %>
<% end %>