
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-8 col-lg-12">

        <% is_group = @company.groups&.first.account_type_group? %>
        <!--------------------------- Link para Registrar nuevos clientes ----------------------------->

        <% unless is_group %>
          <div class="card mb-3">
            <div class="card-body ">
              <div class="row justify-content-between">
                <div class="col text-left">
                  <h4 class="page-title">Link para Registrar Clientes</h4>
                </div>
                <!------------------------- Botón de Descarga de PDF ----------------------------->
                <div class="col-auto text-end">
                  <%= link_to generate_qr_pdf_path("PDF", 
                    format: 'pdf', 
                    url: @url_qr_branch.to_s, 
                    company_id: @branch.company.id,
                    name: "Registracion_Clientes_#{Time.current.in_time_zone(-4).strftime("%d-%m-%Y_%H-%M")}"
                  ), class: "btn btn-primary mb-2 me-1" do %>
                    Descargar <i class="mdi mdi-file-pdf ms-1"></i> 
                <% end %>
                </div>
              </div>

              <div class="text-center  m-auto">
                <% if @branch.image_branch.attached? %>
                  <%= image_tag @branch.image_branch, alt: "", height: "60" %>
                <% end %>
              </div>
              <br>
              <div class="text-center  m-auto">
                  <h1 class=" text-center mt-0 fw-bold"><%= @branch.name + ' - ' + @company.name %></h1>
              </div>
              
              <br/>
              <div class="text-center">
                  <%= image_tag(@qrcode_png.to_data_url)  %>
              </div>
              <br/>
              <br/>
              <div class="text-center  m-auto">
                <a href="<%= @url_qr_branch.to_s %>" target="_blank" class="side-nav-link"><%= "Ingresa a éste link para registrar cientes" || @url_qr_branch.to_s %></a>
              </div>
              
            </div>
          </div>
        <% end %>
        <!--------------------------- Link para consulta de saldos ----------------------------->
        <div class="card mb-3">
          <div class="card-body ">

            <div class="row justify-content-between">
              <div class="col text-left">
                <h4 class="page-title">Link para Consultar de Saldos </h4>
              </div>
              <!------------------------- Botón de Descarga de PDF ----------------------------->
              <div class="col-auto text-end">
                <%= link_to generate_qr_pdf_path("PDF", 
                format: 'pdf', 
                url: @url_query_customer.to_s, 
                company_id: @branch.company.id,
                name: "Consulta_Saldos_#{Time.current.in_time_zone(-4).strftime("%d-%m-%Y_%H-%M")}"
                ), class: "btn btn-primary mb-2 me-1" do %>
                  Descargar <i class="mdi mdi-file-pdf ms-1"></i> 
                <% end %>
              </div>
            </div>

            <div class="text-center  m-auto">
              <% if is_group %>
                  <% if @current_group.image.attached? %>
                    <%= image_tag @current_group.image, alt: "", width: "auto", height: "60"%>
                  <% end %>
                <% else %>
                  <% if @branch.image_branch.attached? %>
                    <%= image_tag @branch.image_branch, alt: "", height: "60" %>
                  <% end %>
                <% end %>
            </div>
            <br>
            <div class="text-center  m-auto">
                <%if @company.groups&.first.account_type_group? %>
                  <h1 class="  text-center mt-0 fw-bold"><%= @company.groups.first.name %></h1>
                <% else %>
                 <h1 class="  text-center mt-0 fw-bold"><%= @branch.name+' - '+@company.name %></h1>
                <% end %>
            </div>
            
            <br/>
            <div class="text-center">
                <%= image_tag(@qrcode_png_query_customer.to_data_url)  %>
            </div>
            <br/>
            <br/>
            <div class="text-center  m-auto">
              <a href="<%= @url_query_customer.to_s %>" target="_blank" class="side-nav-link"><%= "Ingresa a éste link para consultar saldos" || @url_query_customer.to_s %></a>
            </div>
            
          </div>
        </div>

        <!--------------------------- Link para Nuevos Movimientos ----------------------------->
          <div class="card">
            <div class="card-body ">

              <div class="row justify-content-between">
                <div class="col text-left">
                  <h4 class="page-title">Link para Nuevos Movimientos </h4>
                </div>
                <!------------------------- Botón de Descarga de PDF ----------------------------->
                <div class="col-auto text-end">
                  <%= link_to generate_qr_pdf_path("PDF", 
                  format: 'pdf', 
                  url: @url_new_movement.to_s, 
                  company_id: @branch.company.id,
                  name: "Nuevos_Movimientos_#{Time.current.in_time_zone(-4).strftime("%d-%m-%Y_%H-%M")}"
                  ), class: "btn btn-primary mb-2 me-1" do %>
                    Descargar <i class="mdi mdi-file-pdf ms-1"></i> 
                  <% end %>
                </div>
              </div>

              <div class="text-center  m-auto">
                <% if is_group %>
                  <% if @current_group.image.attached? %>
                    <%= image_tag @current_group.image, alt: "", width: "auto", height: "60"%>
                  <% end %>
                <% else %>
                  <% if @branch.image_branch.attached? %>
                    <%= image_tag @branch.image_branch, alt: "", height: "60" %>
                  <% end %>
                <% end %>
              </div>
              <br>
              <div class="text-center  m-auto">
                <% if is_group %>
                <h1 class=" text-center mt-0 fw-bold"><%= @current_group&.name %></h1>
                <% else %>
                <h1 class=" text-center mt-0 fw-bold"><%= @branch.name + ' - ' + @company.name %></h1>
                <% end %>
              </div>
              
              <br/>
              <div class="text-center">
                  <%= image_tag(@qrcode_png_new_movement.to_data_url)  %>
              </div>
              <br/>
              <br/>
              <div class="text-center  m-auto">
                <a href="<%= @url_new_movement.to_s %>" target="_blank" class="side-nav-link"><%= "Ingresa a éste link para registrar movimientos" || @url_new_movement.to_s %></a>
              </div>
              
            </div>
          </div>


        <br>
        <!----------------------Link de catalogos---------------------------->
         <% if @catalog && @qrcode_png_catalog %>
            <div class="card mb-3">
              <div class="card-body ">

                <div class="row justify-content-between">
                  <div class="col text-left">
                    <h4 class="page-title">Link para Catalogo actual </h4>
                  </div>
                  <!------------------------- Botón de Descarga de PDF ----------------------------->
                  <div class="col-auto text-end">
                    <%= link_to generate_qr_pdf_path("PDF", 
                    format: 'pdf', 
                    url: @url_qr_catalog.to_s, 
                    company_id: @branch.company.id,
                    name: "Consulta_Saldos_#{Time.current.in_time_zone(-4).strftime("%d-%m-%Y_%H-%M")}"
                    ), class: "btn btn-primary mb-2 me-1" do %>
                      Descargar <i class="mdi mdi-file-pdf ms-1"></i> 
                    <% end %>
                  </div>
                </div>

                <div class="text-center  m-auto">
                  <% if is_group %>
                      <% if @current_group.image.attached? %>
                        <%= image_tag @current_group.image, alt: "", width: "auto", height: "60"%>
                      <% end %>
                    <% else %>
                      <% if @branch.image_branch.attached? %>
                        <%= image_tag @branch.image_branch, alt: "", height: "60" %>
                      <% end %>
                    <% end %>
                </div>
                <br>
                <div class="text-center  m-auto">
                    <%if @company.groups&.first.account_type_group? %>
                      <h1 class="  text-center mt-0 fw-bold"><%= @company.groups.first.name %></h1>
                    <% else %>
                    <h1 class="  text-center mt-0 fw-bold"><%= @branch.name+' - '+@company.name %></h1>
                    <% end %>
                </div>
                
                <br/>
                <div class="text-center">
                    <%= image_tag(@qrcode_png_catalog.to_data_url)  %>
                </div>
                <br/>
                <br/>
                <div class="text-center  m-auto">
                  <a href="<%= @url_qr_catalog.to_s %>" target="_blank" class="side-nav-link"><%= "Ingresa a éste link para ver el catálogo" || @url_query_customer.to_s %></a>
                </div>
                
              </div>
            </div>
         <% end %>
      </div>
    </div>
  </div>
</div>