<%= content_for :body_class, "loading authentication-bg" %>

<style>
  .my-fancy-background {
    position: relative;
    background-color: transparent;
  }

  .my-fancy-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #7aa4f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 4; 
    filter: brightness(0.75); 
    z-index: -1;
  }
</style>

<div class="account-pages pt-2 pt-sm-4 pb-4 pb-sm-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-9 col-lg-7">
        <div class="card <%= 'my-fancy-background' if Company.find_by(token: @token_company).name=='Bixi' %>">
          <div class="card-body p-4">
            <div class="text-center  m-auto">
              <% if Company.find_by(token: @token_company).image_company.attached? %>
                <%= image_tag Company.find_by(token: @token_company).image_company, alt: "", height: "60" %>
              <% end %>
            </div>
            <br>
            <div class="text-center  m-auto">
              <h1 class=" text-center mt-0 fw-bold"><%= Company.find_by(token: @token_company).name.upcase %></h1>
            </div>
            <br>
            <div class="row align-items-center">
              
              <div class="card shadow-none border mb-3">
                <div class="card-header text-left">
                  <h5 class="card-title">Personas Cargadas</h5>
                </div>
                <div class="card-body">
                  <h5><%= "#{@person.full_name} - Titular" if @person %></h5>
                  <hr>
                  <% @person.family_group.each do |family_member| %>
                    <h5><%= "#{family_member.full_name} - #{@person.relationship_type(family_member)}" %></h5>
                  <% end %>
                </div>
              </div>
               
              <div class="card shadow-none border">
                <div class="card-header text-left">
                  <h5 class="card-title">¿DESEA AGREGAR ALGÚN FAMILIAR?</h5>
                </div>
                <div class="card-body">
                  <div id="progressbarwizard">
                    <div class="tab-content b-0 mb-0">
                      <ul class="list-inline mb-0 wizard">
                        <li class="previous list-inline-item disabled">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" 
                          data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            Agregar Familiar
                          </button>
                        </li>

                        <li class="next list-inline-item float-end">  
                          <a href="<%= finish_upload_path(token_company: @token_company, token_branch: @token_branch) %>" class="btn btn-success">Finalizar carga</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <br/>
                  <div style="min-height: 3px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                      <%= render 'qr_branches/form_one_person', person: Person.new, token_company: @token_company, token_branch: @token_branch, first_person: @first_person %>
                    </div>
                  </div> 
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
