<!-- lib/templates/erb/scaffold/_form.html.erb.tt -->

<%= form_with(model: city) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  
  <div class="form-floating mb-3">
    <%= form.collection_select :state_id, @states, :id, :name, {prompt: "Seleccione Provincia"}, {class: "form-select"} %>
    <%= form.label :state_id, for: "floatingInput" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control", placeholder:"Ingrese nombre" %>
    <%= form.label :name, for: "floatingInput" %>
  </div>
  
  <div class="justify-between items-center">
    <%= form.button "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>