<!-- lib/templates/erb/scaffold/index.html.erb.tt -->

<% set_page_title("Ciudades") %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="m-2 col-12">
          <div class="flexitems-center mb-4">
            <% if @cities.exists? && (can? :create, City.new) %>
              <%= link_to 'Nueva Ciudad', new_city_path, class: "btn btn-primary" %>
            <% end %>
          </div>

          <% if @cities.exists? %>
            <div class=" rounded shadow p-2">
              <table id="cities-table" class="table table-striped dt-responsive nowrap ">
                <thead>
                  <tr>
                    <th class="p-3 uppercase text-left text-xs text-gray-700">País</th>
                    <th class="p-3 uppercase text-left text-xs text-gray-700">Provincia</th>
                    <th class="p-3 uppercase text-left text-xs text-gray-700">Nombre</th>
                    <th class="p-3 uppercase text-left text-xs text-gray-700">Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  <% @cities.each do |city| %>
                    <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= city.state.country.name %></td>
                      <td class="p-3"><%= city.state.name %></td>
                      <td class="p-3"><%= city.name %></td>
                      <td>
                        <%= link_to 'Ver', city, class: "btn btn-outline-danger" if can? :read, city %>
                        <%= link_to 'Editar', edit_city_path(city), class: "btn btn-outline-danger" if can? :update, city %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <div class="items-center">
              <div class="flex-1 text-center">
                <p class="text-xl font-semibold mb-4">No hay datos</p>
                <%= link_to 'Nueva Ciudad', new_city_path, class: "btn btn-primary mb-3" if can? :create, City.new %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>