<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Puntos:</strong>
    <%= product.points %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <% if product.image.attached? %>
      <div class="col-md-6 col-sm-12 mb-4">
        <div class="form-group">
          <a href="#" data-bs-toggle="modal" data-bs-target="#ImageModal_<%= product.id.to_s %>">
            <%= image_tag url_for(product.image), style:"max-height:200px; max-width: 200px" %>
          </a>
           <p data-controller="products"class="text-muted mt-2 mb-0 text-sm" data-products-target="dimensions">Dimensiones: </p>
          <%= render partial: 'shared/modal_image', locals: {object_id: product.id.to_s, object: product, object_image: product.image }%>
        </div>
      </div>
    <% end %>
  </p>

</div>
