<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>
  <body data-turbo="<%= @turbo.present? %>" class="gradient-background <%= yield(:body_class).empty? ? "loading" : yield(:body_class) %>" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}' data-controller="theme">
    
    <%= render 'shared/theme_toggle_button' %>
    
    <%= yield %>
  </body>
</html>
